<link rel="stylesheet" type="text/css" href="/css/footer.css"/>
<footer class="footer container-fluid">
    <div class="container extraSpace">
      <h1 style="color:#ffffff"> About </h1>
      <p style="color:#ffffff"> I am working on my CSC400 (Capstone) Project
        which will involve a lot of api usage. Express-Sessions will come from
        a local sign up or logging/registering with google (as a user choice).</p>

        <h3 style="color:#ffffff"> This is a small scale project for convienience</h3>
        <p style="color:#ffffff">The full version can be found<a href="https://github.com/anricoj1/CSC400"> Here</a></p>

        <p class="footerText subP">Contact Me!<br>anricojason@gmail.com</p>
    </div>
</footer>
