<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
  <div class="container">
    <img src="images/api.png"></img>
    <p class="lead" style="margin-left: 400px"><b>Homepage</b></p>
    <a href="/register" class="btn btn-primary btn-lg" style="margin-left: 370px">Register</a>
    <a href="/auth/google" class="btn btn-danger btn-lg"><span class="fa fa-google-plus"></span> Google</a>
  </div>

  </body>
</html>
