<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
  <div class="jumbotron text-center">
    <img src="images/api.png" style="height: 400px; width: 700px"></img>
    <p class="lead"><b>Homepage</b></p>
    <a href="/signup" class="btn btn-primary btn-lg"><span class="fa fa-user"></span>Register</a>
    <a href="/auth/google" class="btn btn-danger btn-lg"><span class="fa fa-google-plus"></span> Google</a>
  </div>
  <% include ../partials/footer %>

  </body>
</html>
