<% var rootPath = '../../'; %>
<!DOCTYPE html>
<html>
  <head>
    <%- include(rootPath + 'partials/includes') %>
  </head>
  <body>
    <%- include(rootPath + 'partials/nav') %>
  <div class="jumbotron text-center">
    <img src="images/git.png" style="height: 400px; width: 700px"></img>
    <p class="lead"><b>Link Github</b></p>

    <a href="/auth/google" class="btn btn-success btn-lg"><span class="fa fa-github"></span> Github</a>
  </div>
  <%- include(rootPath + 'partials/footer') %>

  </body>
</html>
